<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sanchez:ital@0;1&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Salsa&family=Sanchez:ital@0;1&display=swap" rel="stylesheet">

        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/bootstrap .min.css">
    <link rel="stylesheet" href="static/css/animate.css">
    <link rel="stylesheet" href="static/css/style.css">
      <style>
        .category h1, .meter h1 {
    font-family: "Salsa", cursive;

}
.category {
    min-height: 100vh;
        background-image: url('static/img/categoryImage.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
</style>
</head>

<body>
  <!-- start navbar  -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 Navbar">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <a class="navbar-brand pl-5" href="#">
            <img src="static/img/logo,.png" class="logoo">
              <span>oetify</span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/model1">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Audio Denoise</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="/modelSpeech" >
                  Speaker Identification
                </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/model2">generation & classification</a>
              </li>

            </ul>

          </div>
        </nav>
      </div>
    </div>
  </div>
  <!-- end navbar  -->

    <div class="category mt-5">
        <div class="text mt-5">
            <h1 class="text-center mt-5">Category</h1>
            <div class="content">
                <div class="container">
                    <div class="row mt-5">
                        <div class="col-md-6 mt-5">
                             <p class="mt-5">" Identifies category of generated poetry "</p>

                        </div>
                        <div class="col-md-6 mt-5" >
                              <form action="/predict" method="post">
                                <div class="mb-5 mt-4">
                                    <label for="" class="form-label">The poem</label>
                                    <input type="text" name="poem" class="form-control" id="" placeholder="enter your poem">
                                </div>
                                <button type="submit" class="btn btn-primary">Classify</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <p class="text-center mt-5 p-4">The predicted category for the poem is:<span>{{result}}</span> </p>
        </div>
    </div>












    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>



 <!-- start footer  -->
 <footer class="footer">
    <div class="container">
      <div class="row pt-5">
        <div class="col-md-4 pb-5">
          <h3 class="pb-2"> <i class="fa-solid fa-volume-high"></i> poetify</h3>
          <p>Free for everyone to create anything anywhere</p>

        </div>
        <div class="col-md-4">
          <h3>Contact Us </h3>

          <ul class="list-unstyled">
            <li> <i class="fa fa-home"></i> <a href="#">Lorem ipsum</a> </li>

            <li> <i class="fa fa-phone"></i> <a href="#">576-245-2478 </a> </li>

            <li> <i class="fas fa-envelope"></i> <a href="#">info@fci_zu.com</a> </li>

          </ul>
        </div>
        <div class="col-md-4 ">
          <h3 class="">About Us </h3>

          <ul class="list-unstyled">
            <li> <a href="#">About Us</a> </li>

            <li> <a href="#">Join Us </a> </li>

            <li> <a href="#">Privacy Policy</a> </li>

            <li> <a href="#">Terms and condation</a> </li>

            <li> <a href="#">FAQ</a> </li>
          </ul>
        </div>

      </div>
    </div>
    <div class="copy text-center">
      <p>All Right Reserved</p>
    </div>
  </footer>
  <!-- end footer  -->

</body>

</html>